.content
{
    margin: 80px;
    padding: 80px;
}
.btn1
{
    background-color: red;
}
.btn2
{
    background-color: green;
}
.btn3
{
    background-color: blue;
}
.btn4
{
    background-color: yellow;
}
.btn5
{
    background-color: blueviolet;
}